beautifulsoup4==4.5.3
bs4==0.0.1
google-api-python-client==1.6.2
httplib2==0.10.3
oauth2client==4.0.0
packaging==16.8
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycrypto==2.6.1
pyparsing==2.2.0
PyYAML==3.12
requests==2.13.0
rsa==3.4.2
six==1.10.0
uritemplate==3.0.0
SQLAlchemy==1.1.7
psycopg2==2.7.1
